/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4064508 */
  src: url('//at.alicdn.com/t/c/font_4064508_efujwfd1w9.woff2?t=1701334323639') format('woff2'),
       url('//at.alicdn.com/t/c/font_4064508_efujwfd1w9.woff?t=1701334323639') format('woff'),
       url('//at.alicdn.com/t/c/font_4064508_efujwfd1w9.ttf?t=1701334323639') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou-lanse:before {
  content: "\e629";
}

.icon-daojishi:before {
  content: "\f005";
}

.icon-zuzhi:before {
  content: "\f06c";
}

.icon-quanpin:before {
  content: "\f081";
}

.icon-beifen:before {
  content: "\f0a7";
}

.icon-wenjian:before {
  content: "\f001";
}

.icon-dingdan1:before {
  content: "\f011";
}

.icon-fenlei:before {
  content: "\f01e";
}

.icon-shouye1:before {
  content: "\f02b";
}

.icon-wenjian1:before {
  content: "\f032";
}

.icon-duihuanquan:before {
  content: "\f034";
}

.icon-paihangbang:before {
  content: "\f037";
}

.icon-jifen:before {
  content: "\f039";
}

.icon-daifahuo:before {
  content: "\f03c";
}

.icon-gouwu:before {
  content: "\f03f";
}

.icon-mingxi:before {
  content: "\f041";
}

.icon-jinbi:before {
  content: "\f048";
}

.icon-zixun:before {
  content: "\f068";
}

.icon-biaodan:before {
  content: "\f06e";
}

.icon-fanhui:before {
  content: "\f079";
}

.icon-qiehuan1:before {
  content: "\f07c";
}

.icon-tongji:before {
  content: "\f07f";
}

.icon-_xuanxiang:before {
  content: "\f089";
}

.icon-jiankong:before {
  content: "\f08b";
}

.icon-jilu:before {
  content: "\f08d";
}

.icon-shuju:before {
  content: "\f097";
}

.icon-jiancha:before {
  content: "\f0a0";
}

.icon-biaoqian:before {
  content: "\eff6";
}

.icon-huodong:before {
  content: "\eff8";
}

.icon-lipin:before {
  content: "\f00d";
}

.icon-fenlei1:before {
  content: "\f026";
}

.icon-daishouhuo:before {
  content: "\f03e";
}

.icon-jisuanqi:before {
  content: "\f04c";
}

.icon-huizong:before {
  content: "\f086";
}

.icon-lanya:before {
  content: "\f096";
}

.icon-shuji:before {
  content: "\f09e";
}

.icon-shijian:before {
  content: "\e66c";
}

.icon-filter:before {
  content: "\e628";
}

.icon-jiebang:before {
  content: "\e777";
}

.icon-qiehuan:before {
  content: "\e6d5";
}

.icon-yangshi_icon_tongyong_calendar:before {
  content: "\e667";
}

.icon-dingdan:before {
  content: "\e7d2";
}

.icon-tuihuo:before {
  content: "\e6aa";
}

.icon-icon:before {
  content: "\e600";
}

.icon-a-ziyuan690:before {
  content: "\e799";
}

.icon-xiala:before {
  content: "\e627";
}

.icon-dingwei:before {
  content: "\e683";
}

.icon-biaotou-kepaixu:before {
  content: "\e8f7";
}

.icon-daibanshixiang:before {
  content: "\e613";
}

.icon-anzhuanggongdan:before {
  content: "\e614";
}

.icon-gerenshangpu:before {
  content: "\e615";
}

.icon-gongdananzhuang:before {
  content: "\e616";
}

.icon-kuandaiguanli:before {
  content: "\e617";
}

.icon-weixiugongdan2:before {
  content: "\e618";
}

.icon-daoqiweihu:before {
  content: "\e619";
}

.icon-shangmenweixi:before {
  content: "\e61a";
}

.icon-yonghutiaoyan:before {
  content: "\e61b";
}

.icon-weixiugongdan:before {
  content: "\e61c";
}

.icon-yewushouli:before {
  content: "\e61d";
}

.icon-qiangdanchi:before {
  content: "\e61e";
}

.icon-huanzhuangchaxun:before {
  content: "\e61f";
}

.icon-xinxigonggao:before {
  content: "\e620";
}

.icon-yingxiaobaobiao:before {
  content: "\e621";
}

.icon-jikegongdan:before {
  content: "\e622";
}

.icon-zhangshangqiandan:before {
  content: "\e623";
}

.icon-yonghuweixi:before {
  content: "\e624";
}

.icon-xinkaihu:before {
  content: "\e625";
}

.icon-yewushouli2:before {
  content: "\e626";
}

